{% extends 'autenticar/base.html' %}

{% block title %}
Programa
{% endblock %}
{% block a %}
Listas de Programas
{% endblock %}
{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Nombre</td>
			<td>Tipo</td>
			<td>Versión</td>
            <td>Fecha</td>
            <td>Persona</td>
            <td></td>
            <td></td>
		</tr>
		
	</thead>
	<tbody>
        {% if programa %}
        {% for programa in programa %}
        <tr>
            <td>{{ programa.id }}</td>
            <td>{{ programa.nombre }}</td>
            <td>{{ programa.tipo }}</td>
            <td>{{ programa.version }}</td>
            <td>{{ programa.fecha }}</td>
            <td>{{ programa.persona.nombre }} {{ programa.persona.apellidos }}</td>
            <td> <a href="{% url 'programa_delete' programa.id %}">Eliminar</a></td>
            <td> <a href="{% url 'programa_edit' programa.id %}">Editar</a></td>

        </tr>
        {% endfor %}
                  
        {% else %}
        <h1>No hay registros de programas</h1>
        {% endif %}        
	</tbody>
</table>

{% endblock %}